WORDFORMATS     TEXT    res\wdFormats.txt

EXCELFORMATS TEXT    res\xlsFormats.txt
DOCEXTENSIONS      TEXT    res\wdFormatsExt.txt
XLSEXTENSIONS TEXT res\xlsFormatsExt.txt
HELP    TEXT    res\HelpLog.txt
HELPJSON TEXT   res\HelpJSONLog.txt
HELPWEBHOOK TEXT res\HelpWebHook.txt
HELPERRORS TEXT res\HelpErrors.txt
WORDCONSTANTS   TEXT    res\wdConstants.txt

XLCONST TEXT res\XLConst.txt